@import url('https://fonts.googleapis.com/css?family=Poppins:900i');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.no-scroll {
  overflow: hidden;
}

.bg-hero {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  filter: invert(1);
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
}

ul { direction: rtl; }
ul li { direction: ltr; unicode-bidi: embed; }

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}

body {
  background-color: #0f0f0f;
  font-family: 'IBM Plex Sans Arabic' !important;
  color: #fff;
}

.bg-primary {
  background-color: #0f0f0f;
}

.logo-text {
  font-family: "Bebas Neue", 'Noto Kufi Arabic', Roboto, sans-serif;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.btn-color {
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.cta {
    display: flex;
    align-items: center;
    padding: 8px 35px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: white;
    background: linear-gradient(90deg, #b14862, orange);
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 white;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    /* top: 12%; */
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

.btn-hover {
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
}

.btn-hover:hover {
  opacity: 1;
}

.category-tab {
  position: fixed;
  top: 48px;
  width: 100%;
  -webkit-transition: -webkit-transform 225ms cubic-bezier(0,0,.2,1);
  transition: -webkit-transform 225ms cubic-bezier(0,0,.2,1);
  transition: transform 225ms cubic-bezier(0,0,.2,1);
  transition: transform 225ms cubic-bezier(0,0,.2,1),-webkit-transform 225ms cubic-bezier(0,0,.2,1);
  -webkit-transition-property: all;
  transition-property: all;
  left: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  white-space: nowrap;
  word-wrap: break-word;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  background-color: #0f0f0f;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  border-top: 1px solid rgba(255,255,255,0.2);
  overflow-y: hidden;
  overflow-x: auto;
}

.category-tab-item {
  background-color: rgba(255,255,255,0.1);
  color: #f1f1f1;
  -webkit-transition: background-color .5s cubic-bezier(.05,0,0,1);
  transition: background-color .5s cubic-bezier(.05,0,0,1);
  height: 32px;
  text-align: center;
  margin-right: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}

.active {
  background: #fff;
  color: #0f0f0f;
}

.category-tab-text {
  max-width: 20rem;
  white-space: nowrap;
  font-family: Roboto, Arial, sans-serif;
  line-height: 2rem;
  font-weight: 500;
}

.price {
  /* font-size: 9px; */
}

.popup {
  display: flex;
  position: fixed;
  opacity: 0;
  transform: scale(0);
  padding: 0 2.5%;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: start;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s ease-in-out;
  overflow-y: auto;
}

.popup-content {
  transition: all 0.2s ease-in-out;
  transform: scale(0);
  opacity: 0;
  width: 95%;
  background: whitesmoke;
  color: black;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.popup-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.pop {
  transform: scale(1);
  opacity: 1;
}

.popup-close {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.neon-text {
  color: #fff;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px orange,
      0 0 82px orange,
      0 0 92px orange,
      0 0 102px orange,
      0 0 151px orange;
  animation: flicker 1.5s infinite alternate; 
}

@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px orange,
      0 0 80px orange,
      0 0 90px orange,
      0 0 100px orange,
      0 0 150px orange;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}
